.member__form {
    background: #fff;
    border: 1px solid #dedede;
    margin: 0 auto;
    max-width: 665px;
    padding: 50px;
    width: 100%;
}
.member__form h3 {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 30px;
}
.join-submit {
    background: #eee;
    cursor: pointer;
    display: block;
    font-size: 16px;
    padding: 15px;
    transition: all 0.3s;
    width: 100%;
}
.blog__login {
    align-items: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    margin-top: 200px;
}
